.page-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 360px;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden; /* 좌우 스크롤 비활성화 */
  margin: 0 auto;
  // padding: 0px 15px;
  // border: 2px solid #ccc; /* 회색 테두리 추가 */
  // border-radius: 8px; /* 테두리 모서리를 둥글게 만듭니다. */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

