.day-ticket-info {
  display: flex;
  justify-content: space-between;
}

.calendar-inner-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.calendar-outer-box {
  width: 100%;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #6f48eb;
  border-radius: 50%;
  display: flex;
  margin-left: 16px;
  justify-content: center;
}


.selected-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
.date-reservation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f8f8f8;
  color: #666;
}
