@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&family=Noto+Sans:wght@400;600&display=swap');

body {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-width: 360px;
  min-height: 100vh;
  max-height: 1200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
  // padding: 0px 15px;
  box-shadow:rgb(219, 219, 219) 0px 0px 10px;
  // padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}
