.detail-poster-container {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 화면에 꽉 채우도록 설정 */
  filter: blur(8px); /* 흐린 효과를 추가 */
}

.poster-concert-box {
  gap: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-right: 70px;
//   justify-content: space-between;
}

// .poster-left-box {
// }

.poster-right-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
