/* 데스크톱 환경에서의 스타일 */
.signup-outer-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%; /* 고정 크기 데스크톱 뷰 */
  max-width: 450px;
  padding: 50px 0px;
  gap: 20px;
}

.signup-box {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  height: 100vh; /* 화면 높이에 맞게 조절 */
}

.page-name-title{
  color:dimgray;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;;
}

.signup-bottom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.check-login{
    display: flex;
    gap: 10px;
}

.text-underline {
  text-decoration-line: underline;
  color: #80C0C0;
  cursor: pointer;
}